<style>
.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.textTable{
    max-width:200px;
    word-wrap:break-word;
}
</style>
<br/>
<div id="io">
     <div class="card-panel purple darken-3 white-text" style="padding:5px; font-size: 20px">My History Taking</div>
    <div style="overflow-x:auto; max-height: 16em;">
        <table id="ioRecords" class="hover order-column">
           <thead>
                <tr>
                    <th>Created By</th>
                </tr>
            </thead>
            <tbody>
                {{#if newOtherHistory}} {{!--Own records--}}
                    <tr style="height: 60px">
                        {{!-- {{#unless ../userType}}--}}
                        <td><a id="currentName" href="/master/HistoryTaking/{{newOtherHistory.historyId}}/{{newOtherHistory.by}}">{{newOtherHistory.by}}</a></td>
                         {{!--{{else}}
                        <td><a href="/student/io/{{../recordID}}/{{historyId}}">{{historyId}}</a></td>
                        {{/unless}} 
                        <td>{{by}}</td>--}}

                        {{!-- <td class="textTable">{{chiefComp}}</td>
                        <td class="textTable">{{historyPresent}}</td>
                        <td class="textTable">{{allergy}}</td>
                        <td class="textTable">{{medicalH}}</td>
                        <td class="textTable">{{surgicalH}}</td>
                        <td class="textTable">{{familyH}}</td>
                        <td class="textTable">{{socialH}}</td>
                        <td class="textTable">{{travelH}}</td> --}}

                        {{!-- {{#unless ../userType}}
                        <td style="width: 65px"> <!-- the tr we're trying to get -->
                            <form action="/master/del-io/{{historyId}}?_method=DELETE" method="post" id="delete-form">
                                <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red darken-3">
                                 <i class="material-icons">delete
                            </button>
                            </form>
                        </td>
                        {{/unless}} --}}
                    </tr>
                {{else}}
                <p id="noRecord">You have not created any History Taking yet</p>
                {{/if}}
            </tbody>
        </table>
    </div>
    <div class="card-panel purple darken-3 white-text" style="padding:5px; font-size: 20px">Other History Taking</div>
    <div style="overflow-x:auto; max-height: 16em;">
        <table id="ioRecords" class="hover order-column">
           <thead>
                <tr>
                    <th>Created By</th>

                </tr>
            </thead>
            <tbody>
                {{#if newHistory}} {{!--Own records--}}
                    {{#each newHistory}}
                    <tr style="height: 60px">
                        {{!-- {{#unless ../userType}}--}}
                        <td><a id="currentName" href="/master/HistoryTaking/{{historyId}}/{{by}}">{{by}}</a></td>
               
                    </tr>
                    {{/each}}
                {{else}}
                <p id="noRecord">You have not created any History Taking yet</p>
                {{/if}}
            </tbody>
        </table>
    </div>
    <br>

    <div class="row">
        <div class="col s12 m8"></div>
    </div>

    {{#if editHistory}}
    {{#unless userType}}
    <form action="/master/edit-history/{{editHistory.historyId}}/{{editHistory.by}}?_method=PUT" method="POST" id="editHistory">
    {{else}}    
    <form action="/student/edit-history/{{recordID}}/{{editHistory.historyId}}/{{editHistory.by}}?_method=PUT" method="POST" id="editHistory">
    {{/unless}}
    <input type="hidden" name="_method" value="PUT">
    {{else}}
    <form action="/master/add-history" method="POST" id="addHistory">
    {{/if}}
        <div class="card purple lighten-5">
            <div class="card-content">
                <div id="ioInfo">
                    <span class="purple-text darken-2">History Taking</span>
                
                    <table>
                         <tr>
                            <td>
                                 <div>
                                {{!-- <div class="col s12 m4 "> --}}
                                   Chief Complains
                                </div>
                            </td>
                            <td>
                                {{!-- <div class="col s12 m4 input-field"> --}}
                                    <div>
                                    <textarea id="chiefComp" name="chiefComp" class="materialize-textarea" value="">{{ editHistory.chiefComp }}</textarea>
                                    <label for="chiefComp">The primary symptom that a patient states as the reason for seeking medical care</label>
                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                   History of Present Illness
                                </div>
                            </td>
                            <td>
                                <div>
                                    <textarea id="historyPresent"name="historyPresent" class="materialize-textarea" value="">{{ editHistory.historyPresent }}</textarea>
                                    <label for="historyPresent">A detailed interview (e.g., using OLDCART) prompted by the chief complaint or presenting symptom</label>
                                </div>
                            </td>
                        </tr>
                
                          <tr>
                            <td>
                                <div>
                                   Allergy Status
                                </div>
                            </td>
                            <td>
                                <div>
                                    <textarea id="allergy" name="allergy" class="materialize-textarea" value="">{{ editHistory.allergy }}</textarea>
                                    <label for="allergy">Identify any allergies (drugs, food, substance) the patient may have, details of what happens (e.g., rashes, anaphylaxis),<br> and treatment for the allergy episodes</label>
                                </div>
                            </td>
                        </tr>
                          <tr>
                            <td>
                                <div>
                                    Medical History
                                </div>
                            </td>
                            <td>
                                <div>
                                    <textarea id="medicalH" name="medicalH" class="materialize-textarea" value="">{{ editHistory.medicalH }}</textarea>
                                    <label for="medicalH">Significant past diseases/illnesses, including present and past, prescribed and over-the-counter medicines</label>
                                </div>
                            </td>
                            
                        </tr>
                          <tr>
                            <td>
                                <div>
                                    Surgical History
                                </div>
                            </td>
                            <td>
                                 <div>
                                    <textarea id="surgicalH" name="surgicalH" class="materialize-textarea" value="">{{ editHistory.surgicalH }}</textarea>
                                    <label for="surgicalH">Significant past surgery, including treatment, follow-up and complications; trauma/injuries</label>
                                </div>
                            </td>
                            
                        </tr>
                          <tr>
                            <td>
                               <div>
                                    Family History
                                </div>
                            </td>
                            <td>
                                 <div>
                                    <textarea id="familyH" name="familyH" class="materialize-textarea" value="">{{ editHistory.familyH }}</textarea>
                                    <label for="familyH">About diseases/disorders from which the direct blood relatives of the patient have suffered</label>
                                </div>
                            </td>
                            
                        </tr>
                          <tr>
                            <td>
                                <div>
                                    Social History
                                </div>
                            </td>
                            <td>
                                 <div>
                                    <textarea id="socialH" name ="socialH" class="materialize-textarea" value="">{{ editHistory.socialH }}</textarea>
                                    <label for="socialH">The patient's education, occupation, usual daily activities, 
                                        functional status, relationships with friends and family,<br> social supports and stresses, 
                                        financial status/insurance coverage, lifestyle such as use of cigarettes, alcohol, 
                                        diet or exercises that have known health consequences</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <div>
                                    Travel History
                                </div>
                            </td>
                            <td>
                                <div>
                                    <textarea id="travelH" name="travelH" class="materialize-textarea" value="">{{editHistory.travelH}}</textarea>
                                    <label for="travelH">Travel departure & start dates; specific areas of travel (eg., every Country, every City/Rural region visited);
                                        <br> nature of terrain - rural/urban/forest/mountains; duration of visit at each destination</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <div class="col s12 m8"></div>

                                <div class="col s12 m4">
                                {{#if editHistory}}
                                    <button class="btn waves-effect waves-light saveButton" style="width: 150px; float:right;" type="submit" form="editHistory">Save Changes
                                {{else}}
                                {{#unless userType}}
                                    <button class="btn waves-effect waves-light saveButton" style="width: 150px; float:right;" type="submit" form="addHistory">Save
                                {{/unless}}
                                {{/if}}
                                {{#unless userType}}
                                    <i class="material-icons right">send</i>
                                    </button>
                                {{/unless}}
                                </div>
                            </td>
                        </tr>
                    </table>
    </form>
    

   
</div>

<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
</script>

<script>

    console.log("{{currentName}}");
    $(document).ready(() => {
        $('.tabs').tabs();
        if("{{by}}" == "{{currentName}}"){
            if({{checkifEmpty}} == true)
            $(".saveButton").show();
        }
        else {
            if({{checkifEmpty}} == false){
                console.log("hi");
                $(".saveButton").hide();
            }

        }
       
    })
    
    //document.getElementById("currentName").addEventListener("click", checkifUser);
    /*function checkifUser(elmnt, clr) {
        console.log("Element: "+ clr);
        //console.log(document.getElementById("currentName").innerHTML);
        //console.log("{{currentName}}");
        var currentName = "{{currentName}}";
        currentName = currentName.replace(/ /g,'');
        console.log(currentName == getElementName);
        var getElementName = document.getElementById("currentName").innerHTML;
        getElementName = getElementName.replace(/ /g,'');
        if(currentName === clr){
            console.log("hi");
            $("#saveButton").show();
        }
        else{
            console.log("noob");
            $("#saveButton").hide();
        }
    }*/
 </script>