<br/>
<div id="mdp">
    <div class="card-panel purple lighten-1 white-text" style="padding:5px; font-size: 20px">My MDP Notes</div>
    <div style="overflow-x:auto; max-height: 16em;">
        <table id="ioRecords" class="hover order-column">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Progress Notes</th>
                    <th>Health Provider</th>
                    <th>Name</th>
                    {{!-- <th>Delete</th> --}}
                </tr>
            </thead>
            <tbody>
                {{#if newMDP}}
                    {{#each newMDP}}
                    <tr style="height: 60px">
                        <td>
                            {{#ifCond ../currentUserType 'student'}} <!--If currentUserType == "staff", they can't click on a specific records to edit-->
                                <a href="/student/mdp/{{../recordID}}/{{mdpID}}">{{date}}</a>
                            {{else}}
                                {{date}}
                            {{/ifCond}}
                        </td>
                        <td>{{time}}</td>
                        <td>{{progressNotes}}</td>
                        <td>{{selectUser}}</td>
                        <td>{{nameOfHealthProvider}}</td>
                        {{!-- <td>{{patientID}}</td> --}}
                        {{!-- {{#unless ../userType}} --}}
                        {{!-- <td style="width: 65px"> <!-- the tr we're trying to get -->
                            <form action="/student/del-mdp/{{studentPatientID}}/{{mdpID}}?_method=DELETE" method="post" id="delete-form">
                                <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red darken-3">
                                 <i class="material-icons">delete
                            </button>
                            </form>
                        </td> --}}
                        {{!-- {{/unless}} --}}
                    </tr>
                    {{/each}}
                {{else}}
                <tr style="height: 60px">
                    <td colspan="5" class="center">
                        <p id="noRecord">You have not created any MDP notes yet</p>
                    </td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
    <br>
    <div class="card-panel purple darken-3 white-text" style="padding:5px; font-size: 20px">Master MDP Notes</div>
    <div style="overflow-x:auto; max-height: 16em;">
        <table id="ioRecords" class="hover order-column">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Progress Notes</th>
                    <th>Health Provider</th>
                    <th>Name</th>
                    <th>By</th>
                </tr>
            </thead>
            <tbody>
                {{#if newMasterMDP}}
                    {{#each newMasterMDP}}
                    <tr style="height: 60px">
                        {{!-- <td>{{formatDatetime datetime}}</td> --}}
                        <td>{{date}}</td>
                        <td>{{time}}</td>
                        <td>{{progressNotes}}</td>
                        <td>{{selectUser}}</td>
                        <td>{{nameOfHealthProvider}}</td>
                        <td>{{createdBy}}</td>
                    </tr>
                    {{/each}}
                {{else}}
                <tr style="height: 60px">
                    <td colspan="5" class="center">
                        <p id="noRecord">Masters have not created any MDP notes yet</p>
                    </td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
    <br/>

    <div class="row">
        <div class="col s12 m8"></div>
    </div>

    {{#if editMDP}}
    <form action="/student/edit-mdp/{{editMDP.studentPatientID}}/{{editMDP.mdpID}}?_method=PUT" method="POST" id="editMDP">
    <input type="hidden" name="_method" value="PUT">
    {{else}}
    <form action="/student/add-mdp/{{recordID}}" method="POST" id="addMDP">
    {{/if}}
        <div class="card purple lighten-5">
            <div class="card-content">
                <div id="ioInfo">
                    <span class="purple-text darken-2">MDP Notes</span>
                
                    <div class="row">
                        <div class="col s12 m4 input-field">
                            <input id="dateMDP" type="text" class="datepicker" name="dateMDP" value="{{editMDP.date}}" required>
                            <label for="dateMDP">Date</label>
                            <span class="helper-text">dd/mm/yyyy</span>
                        </div>

                        <div class="col s12 m4 input-field">
                            <input id="timeMDP" type="text" class="timepicker" name="timeMDP" value="{{editMDP.time}}" required>
                            <label for="timeMDP">Time</label>
                            <span class="helper-text">hh:ss</span>
                        </div>
                        <div class="col s12 m4 input-field">
                                <select id="selectUser" name="selectUser" required>
                                    <option value="" disabled selected>Please select</option>
                                    <option value="Doctor">Doctor</option>
                                    <option value="Nurse">Nurse</option>
                                    <option value="Allied Health">Allied Health</option>
                                </select>
                                <label for="selectUser">Health Provider</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                            <input id="nameOfHealthProvider" type="text" name="nameOfHealthProvider" value="{{editMDP.nameOfHealthProvider}}">
                            <label for="nameOfHealthProvider">Name</label>
                            <span class="helper-text"></span>
                        </div>
                        <div class="col s12 m8 input-field">
                            <textarea id="progressNotes" class="materialize-textarea" name="progressNotes" required>{{editMDP.progressNotes}}</textarea>
                            <label for="progressNotes">Progress notes</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col s12 m8"></div>

        <div class="col s12 m4">
            {{#if editMDP}}
            <button class="btn waves-effect waves-light saveButton" style="width: 150px; float:right;" type="submit" form="editMDP">Save
            {{else}}
            <button class="btn waves-effect waves-light saveButton" style="width: 150px; float:right;" type="submit" form="addMDP">Save
            {{/if}}
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>

<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // MDP
        const dateMDP = document.querySelector('#dateMDP');
        const timeMDP = document.querySelector('#timeMDP');
        const selectUser = document.querySelector('#selectUser');

        // MDP Instances
        M.Datepicker.init(dateMDP, {
            maxDate: new Date(),
            format: 'dd/mm/yyyy',
            disableWeekends: true
        });
        M.Timepicker.init(timeMDP, {
            twelveHour: false,
            showClearBtn: true
        });

        M.FormSelect.init(selectUser, {
            
        })                
    })  
    {{#if editMDP}}
        document.getElementById('selectUser').value = "{{editMDP.selectUser}}";
    {{/if}}
    
    if ("{{currentUserType}}" == "staff")
	{
		$(".saveButton").hide();
	}
	else
	{
		$(".saveButton").show();
	}
 </script>