<style>
    td, th {
        text-align: center
    }
    .tabs .indicator {
        background-color: #6A1B9A;
    }
    .tabs .tab a:focus, .tabs .tab a:focus.active {
        background: transparent;
    }

    #ioflowsheetTable th {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: none;
    }
    #ioflowsheetTable tr {
        border-bottom: none;
    }
    #ioflowsheetTable tr td {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
    #others{
        display: none;
    }

</style>


<br>
<div class="row">
    <div class="col s12">
        <div class="tabs">
            {{#unless userType}}

            {{else}}
            <li class="tab col s2  offset-s4" id="feedtab"><a class="purple-text text-darken-3" id="tab0" href="#feedingregime">IV Fluid Regime</a></li>

            <li class="tab col s2" id="schedtab"><a class="purple-text text-darken-3" id="tab1" href="#schedule">IV Fluid Schedule</a></li>

            {{/unless}}
        </div>
    </div>
</div>

{{!-- Feeding Regime code start --}}

<div id="feedingregime">
<div class="card-panel purple darken-3 white-text" style="padding:5px; font-size: 20px">IV Fluid Regime</div>
    <div style="overflow-x:auto; max-height: 16em;">
        <table id="enteralRecords" class="hover order-column" >
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Type of Fluid</th>
                    <th>Orders</th>
                    {{!--{{#unless userType}}
                    <th>Delete</th>
                    {{/unless}}--}}
                </tr>
            </thead>
            <tbody>
                {{#if newFluid}}
                    {{#each newFluid}}
                    <tr style="height: 60px">
                        {{#unless ../userType}}
                            <td><a href="/master/ivfluid/{{fluidID}}/{{by}}">{{date}}</a></td>
                        {{else}}
                            <td>{{date}}</td>
                        {{/unless}}
                        <td>{{time}}</td>
                        <td>{{typeofFluid}}</td>
                        <td>{{ordersFluid}}</td>
                        {{!-- {{#unless ../userType}} --}}
                            {{!-- <td style="width: 65px"> <!-- the tr we're trying to get -->
                                <form action="/master/del-feeding-regime/{{feedID}}?_method=DELETE" method="post" id="delete-form">
                                    <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn red darken-3">
                                    <i class="material-icons">delete
                                </button>
                                </form>
                            </td> --}}
                        {{else}}
                            {{!-- <td style="width: 65px"> <!-- the tr we're trying to get -->
                                <form action="/student/del-enteral/{{../recordID}}/{{enteralID}}?_method=DELETE" method="post" id="delete-form">
                                    <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn red darken-3">
                                    <i class="material-icons">delete
                                </button>
                                </form>
                            </td> --}}
                        {{!-- {{/unless}} --}}
                    </tr>
                    {{/each}}
                {{else}}
                <p id="noRecord">You have not created any Fluid Regime records yet</p>
                {{/if}}
            </tbody>
        </table>
    </div>
    <br>

    <div class="row">
        <div class="col s12 m8"></div>

    </div>

    {{#if editFluid}}
        {{#unless userType}}
            <form action="/master/edit-fluid-regime/{{editFluid.fluidID}}/{{editFluid.by}}?_method=PUT" method="POST" id="editFluid">
        {{/unless}}
    {{else}}
        {{#unless userType}}
            <form action="/master/add-fluid" method="POST" id="addFluid">
        {{/unless}}
    {{/if}}
        <div class="card purple lighten-5">
            <div class="card-content">
                <div id="enteralInfo">
                    <span class="purple-text darken-2">IV Fluids Order</span>

                        <div class="row">
                                <div class="col s12 m4 input-field">
                                    <input id="dateFeeding" type="text" class="datepicker" name="dateFluid" value="{{editFluid.date}}" required>
                                    <label for="dateFeeding">Date</label>
                                    <span class="helper-text">dd/mm/yyyy</span>
                                </div>

                                <div class="col s12 m4 input-field">
                                    <input id="timeFeeding" type="text" class="timepicker" name="timeFluid" value="{{editFluid.time}}" required>
                                    <label for="timeFeeding">Time</label>
                                    <span class="helper-text">hh:ss</span>
                                </div>
                        </div>

                        <div class="row">

                            <div class="col s12 m4 input-field">

                                <select id="typeofFluid" name="typeofFluid" onchange="return val(this.value);">
                                    <option value="" disabled selected>Type of Fluids</option>
                                    <option value="10% Mannitol">10% Mannitol</option>
                                    <option value="20% Mannitol">20% Mannitol</option>
                                    <option value="Dextrose 10% in water (D10W)">Dextrose 10% in water (D10W)</option>
                                    <option value="Dextrose 5% with 10 mmol KCl per 500 ml">Dextrose 5% with 10 mmol KCl per 500 ml</option>
                                    <option value="Dextrose 5% in 0.22% NaCl with 10 mmol KCl per 500 ml">Dextrose 5% in 0.22% NaCl with 10 mmol KCl per 500 ml</option>
                                    <option value="Dextrose 5% in 0.22% Sodium Chloride (D5 1/4 NS)">Dextrose 5% in 0.22% Sodium Chloride (D5 1/4 NS)</option>
                                    <option value="Dextrose 5% in 0.45% NaCl with 10 mmol KCl per 500 ml">Dextrose 5% in 0.45% NaCl with 10 mmol KCl per 500 ml</option>
                                    <option value="Dextrose 5% in 0.45% Sodium Chloride (D5 1/2 NS)">Dextrose 5% in 0.45% Sodium Chloride (D5 1/2 NS)</option>
                                    <option value="Dextrose 5% in 0.9% NaCl with 10 mmol KCl per 500 ml">Dextrose 5% in 0.9% NaCl with 10 mmol KCl per 500 ml</option>    
                                    <option value="Dextrose 5% in 0.9% Sodium Chloride (D5 NS)">Dextrose 5% in 0.9% Sodium Chloride (D5 NS)</option>
                                    <option value="Dextrose 5% in lactated ringer's (D5W)">Dextrose 5% in lactated ringer's (D5W)</option>
                                    <option value="Dextrose 5% in water (D5W)">Dextrose 5% in water (D5W)</option>    
                                    <option value="Gelofusine (Succinylated gelatin solution 4%)">Gelofusine (Succinylated gelatin solution 4%)</option>
                                    <option value="Haemaccel">Haemaccel</option>
                                    <option value="Hartmann’s solution">Hartmann’s Solution</option>   
                                    <option value="Lactated ringer's (LR) injection">Lactated ringer's (LR) injection</option>
                                    <option value="Sodium Chloride 0.22% (1/4 NS)">Sodium Chloride 0.22% (1/4 NS)</option>
                                    <option value="Sodium Chloride 0.45% (1/2 NS)">Sodium Chloride 0.45% (1/2 NS)</option>    
                                    <option value="Sodium Chloride 0.45% with 10 mmol KCl per 500 ml">Sodium Chloride 0.45% with 10 mmol KCl per 500 ml</option>
                                    <option value="Sodium Chloride 0.9% ( NS)">Sodium Chloride 0.9% ( NS)</option>
                                    <option value="Sodium Chloride 0.9% with 10 mmol KCl per 500 ml">Sodium Chloride 0.9% with 10 mmol KCl per 500 ml</option>    
                                    <option value="Sodium Chloride 3%">Sodium Chloride 3%</option>
                                    <option value="Total Parenteral Nutrition (Adult) Inf">Total Parenteral Nutrition (Adult) Inf</option>
                                    <option value="Total Parenteral Nutrition (Neonate) Inf">Total Parenteral Nutrition (Neonate) Inf</option> 
                                    <option value="Total Parenteral Nutrition (Paediatric) Inf">Total Parenteral Nutrition (Paediatric) Inf (Special)</option>
                                    <option value="Total Parenteral Nutrition (Paediatric) Inf (Special)">Total Parenteral Nutrition Standard 1 Inf</option>
                                    <option value="Total Parenteral Nutrition Standard 1 Inf">Total Parenteral Nutrition Standard 2 Inf</option>
                                    <option value="Total Parenteral Nutrition Starter (Neonate) Inf">Total Parenteral Nutrition Starter (Neonate) Inf</option>
                                    <option value="Others">Others:</option>
                                </select>
                                    <label for="typeofFormula">Type of Fluids</label>

                            </div>

                            <div class="col s12 m4 input-field" id="otherBlock" style="display: none;">
                                <input id="other" type="text" name="other">
                                <label for="other">Others:</label>
                            </div>

                        </div>

                    <div class= "row"> 
                        <div class="col s12 m4 input-field">
                            <input id="ordersFeed" type="text" name="ordersFluid" value="{{editFluid.ordersFluid}}">
                            <label for="ordersFeed">Order</label>
                            <span class="helper-text"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col s12 m8"></div>
            <div class="col s12 m4">
                {{#unless userType}}
                    {{#if editFluid}}
                            <button class="btn waves-effect waves-light saveButton" style="width: 150px; float:right;" type="submit" form="editFluid">Save Changes
                        {{else}}
                            <button class="btn waves-effect waves-light saveButton" style="width: 150px; float:right;" type="submit" form="addFluid">Save
                    {{/if}}

                    {{#unless userType}}
                        <i class="material-icons right">send</i>
                    {{/unless}}
                {{/unless}}
                
            </div>
    </div>
</div>

<script>
    function val(x) {
        if(x == "Others")
        {
            document.getElementById("otherBlock").style.display = "block";
        }
        else
        {
            document.getElementById("otherBlock").style.display = "none";
        }
    }
</script>

{{!-- end Feeding Regime Code --}}



{{!-- Schedule code start --}}
{{#unless userType}}

{{else}}    


<div id="schedule">
    
        {{!-- <form>
            <div class="row">
                <div class="col s12 m6 input-field">
                    <select id="selectUser" name="selectUser" required>
                        <option value="" disabled selected>Please select a student</option>
                    </select>
                    <label for="selectUser">Student</label>
                </div>
            </div>
        </form> --}}

<div class="card-panel purple darken-3 white-text" style="padding:5px; font-size: 20px">Feeding Schedule</div>
    <div style="overflow-x:auto; max-height: 16em;">
        {{!-- {{#if finalObj}}
            {{#each finalObj}}
                <p>{{@key}}</p>
                {{#each this}}
                    <p>{{by}}</p>
                    <p>{{length}}</p>
                {{/each}}
            {{/each}}
        {{/if}} --}}

        <table id="ivRecords" class="hover order-column" >
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    {{#unless userType}}
                    <th>By</th>
                    {{/unless}}
                    <th>Type of Fluids</th>
                    <th>Amount (ml)</th>
                    <th>Water for flush (ml)</th>
                    <th>Comments</th>
                    {{!-- {{#unless userType}}
                    <th>Delete</th>
                    {{/unless}} --}}
                </tr>
            </thead>

            <tbody>
            {{!-- {{#if finalObj}} --}}
            {{#if newOtherScheduleFluid}}
               <tr style="height: 60px">
                    {{#each newOtherScheduleFluid }}
                        {{!-- {{#each this}} --}}
                            {{#unless ../userType}}
                                    <td>{{date}}</td>
                                {{else}}
                                    <td>
                                    {{#ifCond ../currentUserType 'student'}}
                                            <a href="/student/ScheduleFluid/{{../recordID}}/{{scheduleID}}/{{by}}">{{date}}</a>
                                        {{else}}
                                            {{date}}
                                    {{/ifCond}}                             
                                    </td>
                            {{/unless}}   
                    <td>{{time}}</td>

                    {{#unless ../userType}}
                        <td>{{by}}</td>
                    {{/unless}}

                    <td>{{scheduleFluid}}</td>
                    <td>{{scheduleAmt}} ml</td>
                    <td>{{scheduleFlush}} ml</td>
                    <td>{{schedcomments}}</td>
                        
                </tr>
                {{/each}}
                {{else}}
                {{#unless userType}}
                    <p id="noRecord">Students have not created any Schedule records yet</p>
                {{else}}
                    <p id="noRecord">You have not created any Schedule records yet</p>
                {{/unless}}
            {{/if}}
            </tbody>
        </table>
    </div>
    <br>

    <div class="row">
        <div class="col s12 m8"></div>
    </div>

    {{#if editSchedule}} {{!-- students can create and edit the schedule, lecturer can only see --}}
        {{#unless userType}}
        {{!-- if lecturer, you cant edit --}}
        {{else}}
        <form action="/student/edit-schedule-fluid/{{recordID}}/{{editSchedule.scheduleID}}/{{editSchedule.by}}?_method=PUT" method="POST" id="editSchedule">
        {{/unless}}
    {{else}}
    {{!-- <input type="hidden" name="_method" value="PUT"> --}}
        {{#unless userType}}
        {{!-- if lecturer, you cant add --}} 
        {{else}}
            <form action="/student/add-schedule-fluid/{{recordID}}" method="POST" id="addSchedule">
        {{/unless}}
    {{/if}}
        <div class="card purple lighten-5">
            <div class="card-content">
                <div id="ivInfo">
                    <span class="purple-text darken-2">IV Fluid Schedule</span>

                    <div class="row">
                        <div class="col s12 m4 input-field">
                            <input id="dateSchedule" type="text" class="datepicker" name="dateSchedule" value="{{editSchedule.date}}" required>
                            <label for="dateSchedule">Date</label>
                            <span class="helper-text">dd/mm/yyyy</span>
                        </div>

                        <div class="col s12 m4 input-field">
                            <input id="timeSchedule" type="text" class="timepicker" name="timeSchedule" value="{{editSchedule.time}}" required>
                            <label for="timeSchedule">Time</label>
                            <span class="helper-text">hh:ss</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                            <select id="scheduleFluid" name="scheduleFluid">
                                <option value="" disabled selected>Type of Fluids</option>
                                <option value="10% Mannitol">10% Mannitol</option>
                                <option value="20% Mannitol">20% Mannitol</option>
                                <option value="Dextrose 10% in water (D10W)">Dextrose 10% in water (D10W)</option>
                                <option value="Dextrose 5% with 10 mmol KCl per 500 ml">Dextrose 5% with 10 mmol KCl per 500 ml</option>
                                <option value="Dextrose 5% in 0.22% NaCl with 10 mmol KCl per 500 ml">Dextrose 5% in 0.22% NaCl with 10 mmol KCl per 500 ml</option>
                                <option value="Dextrose 5% in 0.22% Sodium Chloride (D5 1/4 NS)">Dextrose 5% in 0.22% Sodium Chloride (D5 1/4 NS)</option>
                                <option value="Dextrose 5% in 0.45% NaCl with 10 mmol KCl per 500 ml">Dextrose 5% in 0.45% NaCl with 10 mmol KCl per 500 ml</option>
                                <option value="Dextrose 5% in 0.45% Sodium Chloride (D5 1/2 NS)">Dextrose 5% in 0.45% Sodium Chloride (D5 1/2 NS)</option>
                                <option value="Dextrose 5% in 0.9% NaCl with 10 mmol KCl per 500 ml">Dextrose 5% in 0.9% NaCl with 10 mmol KCl per 500 ml</option>    
                                <option value="Dextrose 5% in 0.9% Sodium Chloride (D5 NS)">Dextrose 5% in 0.9% Sodium Chloride (D5 NS)</option>
                                <option value="Dextrose 5% in lactated ringer's (D5W)">Dextrose 5% in lactated ringer's (D5W)</option>
                                <option value="Dextrose 5% in water (D5W)">Dextrose 5% in water (D5W)</option>    
                                <option value="Gelofusine (Succinylated gelatin solution 4%)">Gelofusine (Succinylated gelatin solution 4%)</option>
                                <option value="Haemaccel">Haemaccel</option>
                                <option value="Hartmann’s solution">Hartmann’s Solution</option>   
                                <option value="Lactated ringer's (LR) injection">Lactated ringer's (LR) injection</option>
                                <option value="Sodium Chloride 0.22% (1/4 NS)">Sodium Chloride 0.22% (1/4 NS)</option>
                                <option value="Sodium Chloride 0.45% (1/2 NS)">Sodium Chloride 0.45% (1/2 NS)</option>    
                                <option value="Sodium Chloride 0.45% with 10 mmol KCl per 500 ml">Sodium Chloride 0.45% with 10 mmol KCl per 500 ml</option>
                                <option value="Sodium Chloride 0.9% ( NS)">Sodium Chloride 0.9% ( NS)</option>
                                <option value="Sodium Chloride 0.9% with 10 mmol KCl per 500 ml">Sodium Chloride 0.9% with 10 mmol KCl per 500 ml</option>    
                                <option value="Sodium Chloride 3%">Sodium Chloride 3%</option>
                                <option value="Total Parenteral Nutrition (Adult) Inf">Total Parenteral Nutrition (Adult) Inf</option>
                                <option value="Total Parenteral Nutrition (Neonate) Inf">Total Parenteral Nutrition (Neonate) Inf</option> 
                                <option value="Total Parenteral Nutrition (Paediatric) Inf">Total Parenteral Nutrition (Paediatric) Inf (Special)</option>
                                <option value="Total Parenteral Nutrition (Paediatric) Inf (Special)">Total Parenteral Nutrition Standard 1 Inf</option>
                                <option value="Total Parenteral Nutrition Standard 1 Inf">Total Parenteral Nutrition Standard 2 Inf</option>
                                <option value="Total Parenteral Nutrition Starter (Neonate) Inf">Total Parenteral Nutrition Starter (Neonate) Inf</option>
                                <option value="Others">Others:</option>
                            </select>
                                <label for="typeofFluid">Type of Fluids<label>
                        </div>
                                
                        <div class="col s12 m4 input-field">
                            <input id="scheduleAmt" type="number" name="scheduleAmt" value="{{editSchedule.scheduleAmt}}">
                            <label for="scheduleAmt">Amount (ml)</label>
                            <span class="helper-text"></span>
                        </div>
                
                        <div class="col s12 m4 input-field">
                            <input id="schedcomments" type="text" name="schedcomments" value="{{editSchedule.schedcomments}}">
                            <label for="schedcomments">Comments</label>
                            <span class="helper-text"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">

        <div class="col s12 m8"></div>

        <div class="col s12 m4">
            {{#unless userType}}
            {{!-- lecturer cant add or edit schedule, they can only view ye --}}
            {{else}}
                {{#if editSchedule}}
                    <button class="btn waves-effect waves-light saveButton" style="width: 150px; float:right;" type="submit" form="editSchedule">Save Changes
                {{else}}
                    <button class="btn waves-effect waves-light saveButton" style="width: 150px; float:right;" type="submit" form="addSchedule">Save
                    <i class="material-icons right">send</i>
                {{/if}}
            {{/unless}}
            </button>
        </div>
    </div>
</div>
{{/unless}}
{{!-- Schedule code ends here --}}

<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
</script>

<script>
    //need this for tabs ya
    $(document).ready(() => {
        $('.tabs').tabs();
    })

        document.addEventListener('DOMContentLoaded', () => {
        //Feed
        const dateFeeding = document.querySelector('#dateFeeding');
        const timeFeeding = document.querySelector('#timeFeeding');
        var typeofFluid = document.querySelector('#typeofFluid');
        var others = document.querySelector('#other');
        const enteralFeed = document.querySelector('#enteralFeed');

        //Schedule
        const dateSchedule = document.querySelector('#dateSchedule');
        const timeSchedule = document.querySelector('#timeSchedule');
        const scheduleFluid = document.querySelector('#scheduleFluid');
        const selectUser = document.querySelector('#selectUser');

        //Img
        const elems = document.querySelectorAll('.materialboxed');
        const instances = M.Materialbox.init(elems, {});

        //Feeding Instances
                M.Datepicker.init(dateFeeding, {
                    maxDate: new Date(),
                    format: 'dd/mm/yyyy',
                    disableWeekends: true
                });
                M.Timepicker.init(timeFeeding, {
                    twelveHour: false,
                    showClearBtn: true
                });

                M.FormSelect.init(typeofFluid, {
                    
                })
                M.FormSelect.init(enteralFeed, {
                    
                })

        //Schedule Instances
                M.Datepicker.init(dateSchedule, {
                    maxDate: new Date(),
                    format: 'dd/mm/yyyy',
                    disableWeekends: true
                });
                M.Timepicker.init(timeSchedule, {
                    twelveHour: false,
                    showClearBtn: true
                });

                M.FormSelect.init(scheduleFluid, {
                    
                })
                M.FormSelect.init(selectUser, {
            
                })
          })




// display students who has created their schedule
//{{#if newFeeding}}
//    document.getElementById('tab0').className += " active";
//{{/if}}
{{#if newOtherScheduleFeed}}
    document.getElementById('schedtab').className += " active";
{{/if}}

    {{#if studentName}} 
        {{#each studentName}}
        // ** CHANGE HERE: (if want deploy) teehee 
        //$("#selectUser").append("<option value='https://composition.sit.nyp.edu.sg/master/FeedingRegime/{{by}}'>{{by}}</option>");
        $("#selectUser").append("<option value='https://localhost/master/FeedingRegime/{{by}}'>{{by}}</option>"); 
        document.getElementById('schedtab').className += " active";
        {{/each}}
    {{/if}} 
    
     $('#selectUser').change(function(){ 
        window.location.href = $(this).val();
        document.getElementById('schedtab').className += " active";
    });
    // ** CHANGE HERE: (if want deploy) teehee 
    {{#if name}}
        //document.getElementById("selectUser").value = "https://composition.sit.nyp.edu.sg/master/FeedingRegime/{{by}}";
        // https://localhost.com
        document.getElementById("selectUser").value = "https://localhost/master/FeedingRegime/{{by}}";
        document.getElementById('tab1').className += " active";
    {{/if}}

    {{#if editFluid }}
        document.getElementById('typeofFluid').value = "{{editFluid.typeofFluid}}";
        document.getElementById('ordersFeed').value = "{{editFluid.ordersFluid}}";
        document.getElementById('schedtab').className += " disabled";
        document.getElementById('tab0').className += " active";
    {{/if}}

    {{#if editSchedule}}
        document.getElementById('scheduleFluid').value = "{{editSchedule.scheduleFluid}}";
        document.getElementById('feedtab').className += " disabled";
        document.getElementById('tab1').className += " active";
        
    {{/if}}
 

    // modal
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
    // for lecturer who view the students record, this function hides the save button :)
    if ("{{currentUserType}}" == "staff")
    {
        $(".saveButton").hide();
    }
    else
    {
        $(".saveButton").show();
    }

    // ** CHANGE HERE: (if want deploy) teehee 
  /* $("#tab0").on("click", function () {
       if ("{{currentUserType}}" == "staff")
    {
        window.location.replace("https://localhost/student/FeedingRegime/{{recordID}}");
        $(".saveButton").hide();
    }
    else
    {
        $(".saveButton").show();
    }
        window.location.replace("https://localhost/master/FeedingRegime");
    //window.location.replace("https://composition.sit.nyp.edu.sg/master/FeedingRegime");

});*/
 </script>