<style>
    td, th {
        text-align: center
    }
    .tabs .indicator {
        background-color: #6A1B9A;
    }
    .tabs .tab a:focus, .tabs .tab a:focus.active {
        background: transparent;
    }

    #neurovascularflowsheettTable th {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: none;
    }
    #neurovascularflowsheettTable tr {
        border-bottom: none;
    }
    #neurovascularflowsheettTable tr td {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
    
</style>


<br>
<div class="row">
    <div class="col s12">
        <div class="tabs">
            <li class="tab col s3 offset-s4" id="flowsheetTab"><a class="purple-text text-darken-3" id="tab0" href="#neuroflowsheet">Neurovascular Flowsheet</a></li>
            <li class="tab col s2" id="neurotab"><a class="purple-text text-darken-3" id="tab1" href="#neuro">Neurovascular</a></li>
        </div>
    </div>
</div>


 {{!-- Neuro Flowsheet code start --}}
 <div id="neuroflowsheet">
    <div class="card-panel purple darken-3 white-text" style="padding: 5px; font-size: 20px; text-align: center"> Neurovascular Flowsheet</div>
    
    <div style="overflow-x: auto; max-height: 48em;">
        <table id="neurovascularflowsheettTable">
            <tr>
                <th width="10%" style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)" colspan="2">Datetime</th>
                {{#each neurodateVal}}
                <th style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">{{formatDatetime this}}</th>
                {{/each}}
            </tr>

            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <th width="10%" colspan="2">Site Of Injury</th>
                {{#each neuroFlow}}
                <td class="poc">{{siteOfInjury}}</td>
                {{/each}}
            </tr>

            <tr>
                <th width="10%" rowspan="3">Colour</th>
            </tr>

            <tr>
                <th>Left</th>
                {{#each neuroFlow}}
                    <td>{{colourLeft}}</td>
                {{/each}}
            </tr>

            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <th>Right</th>
                {{#each neuroFlow}}
                    <td>{{colourRight}}</td>
                {{/each}}
            </tr>

            <tr>
                <th width="10%" rowspan="3">Temperature</th>
            </tr>

            <tr>
                <th>Left</th>
                {{#each neuroFlow}}
                    <td>{{temperatureLeft}}</td>
                {{/each}}
            </tr>

            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <th>Right</th>
                {{#each neuroFlow}}
                    <td>{{temperatureRight}}</td>
                {{/each}}
            </tr>

            <tr>
                <th width="10%" rowspan="3">Capillary Refill</th>
            </tr>

            <tr>
                <th>Left</th>
                {{#each neuroFlow}}
                    <td>{{capillaryRefillLeft}}</td>
                {{/each}}
            </tr>

            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <th>Right</th>
                {{#each neuroFlow}}
                    <td>{{capillaryRefillRight}}</td>
                {{/each}}
            </tr>

            <tr>
                <th width="10%" rowspan="3">Peripheral Pulse</th>
            </tr>

            <tr>
                <th>Left</th>
                {{#each neuroFlow}}
                    <td>{{peripheralPulseLeft}}</td>
                {{/each}}
            </tr>

            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <th>Right</th>
                {{#each neuroFlow}}
                    <td>{{peripheralPulseRight}}</td>
                {{/each}}
            </tr>

            <tr>
                <th width="10%" rowspan="3">Edema</th>
            </tr>
  
            <tr>
                <th>Left</th>
                {{#each neuroFlow}}
                    <td>{{edemaLeft}}</td>
                {{/each}}
            </tr>

            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <th>Right</th>
                {{#each neuroFlow}}
                    <td>{{edemaRight}}</td>
                {{/each}}
            </tr>

            <tr>
                <th width="10%" rowspan="3">Movement</th>
            </tr>
  
            <tr>
                <th>Left</th>
                {{#each neuroFlow}}
                    <td>{{movementLeft}}</td>
                {{/each}}
            </tr>

            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <th>Right</th>
                {{#each neuroFlow}}
                    <td>{{movementRight}}</td>
                {{/each}}
            </tr>

            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <th width="10%" rowspan="3">Sensation</th>
            </tr>
  
            <tr>
                <th>Left</th>
                {{#each neuroFlow}}
                    <td>{{sensationLeft}}</td>
                {{/each}}
            </tr>

            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <th>Right</th>
                {{#each neuroFlow}}
                    <td>{{sensationRight}}</td>
                {{/each}}
            </tr>

            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <th width="10%" rowspan="3">Pain</th>
            </tr>
              
            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <th>Left</th>
                {{#each neuroFlow}}
                    <td rowspan="2">{{painScale}}</td>
                {{/each}}
            </tr>

            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <th>Right</th>
            </tr>

            <tr>
                <th width="10%" rowspan="3">Numerical Rating Scale</th>
            </tr>
              
            <tr>
                <th>Left</th>
                {{#each neuroFlow}}
                    <td>{{numericalRatingScaleLeft}}</td>
                {{/each}}
            </tr>

            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <th>Right</th>
                {{#each neuroFlow}}
                    <td>{{numericalRatingScaleRight}}</td>
                {{/each}}
            </tr>

            <tr>
                <th width="10%" rowspan="3">Characteristic</th>
            </tr>
              
            <tr>
                <th>Left</th>
                {{#each neuroFlow}}
                    <td>{{characteristicLeft}}</td>
                {{/each}}
            </tr>

            <tr style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <th>Right</th>
                {{#each neuroFlow}}
                    <td>{{characteristicRight}}</td>
                {{/each}}
            </tr>
        </table>
    </div>
</div>

{{!-- Neuro code start --}}
<div id="neuro">
<div class="card-panel purple darken-3 white-text" style="padding:5px; font-size: 20px">Neurovascular</div>
    <div style="overflow-x:auto; max-height: 25em;">
        <table id="ioRecords" class="hover order-column">
            <thead>
                <tr>
                    <th>Site of injury</th>
                    <th rowspan="2">Date</th>
                    <th rowspan="2">Time</th>
                    <th></th>
                    <th>Colour</th>
                    <th>Temperature</th>
                    <th>Capillary refill</th>
                    <th>Peripheral pulse</th>
                    <th>Edema</th>
                    <th>Movement</th>
                    <th>Sensation</th>
                    <th>Pain</th>
                    <th>Numerical Rating Scale</th>
                    <th>Characteristic</th>
                    {{#unless userType}}
                    <th>Delete</th>
                    {{/unless}}
                </tr>
            </thead>
            <tbody>
                
                {{#if newNeuro}}
                    <!--Right Arm-->
                    {{#if newNeuroRightArm}}
                    <tr style="height: 60px">
                        <td rowspan="{{rightArmRowSpan}}">Right arm</td>

                        {{#each newNeuroRightArm}}
                            {{#unless ../userType}}
                                <td rowspan="2"><a href="/master/neuro/{{neuroID}}">{{date}}</a></td>
                            {{else}}
                                <td rowspan="2">
                                    {{#ifCond ../currentUserType 'student'}} <!--If currentUserType == "staff", they can't click on a specific records to edit-->
                                        <a href="/student/neuro/{{../recordID}}/{{neuroID}}">{{date}}</a>
                                    {{else}}
                                        {{date}}
                                    {{/ifCond}}
                                </td>
                            {{/unless}}
                            <td rowspan="2">{{time}}</td>
                            
                            <td>Left</td>
                            <td>{{colourLeft}}</td>
                            
                            <td>{{temperatureLeft}}</td>
                            
                            <td>{{capillaryRefillLeft}}</td>
                            
                            <td>{{peripheralPulseLeft}}</td>
                            
                            <td>{{edemaLeft}}</td>
                            
                            <td>{{movementLeft}}</td>
                            
                            <td>{{sensationLeft}}</td>
                            
                            <td rowspan="2">{{painScale}}</td>
                            
                            <td>{{numericalRatingScaleLeft}}</td>
                            
                            <td>{{characteristicLeft}}</td>
                            
                            {{#unless ../userType}}
                                <td style="width: 65px" rowspan="2"> <!-- the tr we're trying to get -->
                                    <form action="/master/del-neuro/{{neuroID}}?_method=DELETE" method="post" id="delete-form">
                                        <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn red darken-3">
                                        <i class="material-icons">delete
                                    </button>
                                    </form>
                                </td>  
                            {{/unless}}
                        </tr>
                        <tr>
                            <td>Right</td>
                            <td>{{colourRight}}</td>
                            <td>{{temperatureRight}}</td>
                            <td>{{capillaryRefillRight}}</td>
                            <td>{{peripheralPulseRight}}</td>
                            <td>{{edemaRight}}</td>
                            <td>{{movementRight}}</td>
                            <td>{{sensationRight}}</td>
                            <td>{{numericalRatingScaleRight}}</td>
                            <td>{{characteristicRight}}</td>
                        </tr>
                        {{/each}}
                    {{/if}}
                    <!--//Right Arm-->

                    <!--Left Arm-->
                    {{#if newNeuroLeftArm}}
                        <tr style="height: 60px">
                            <td rowspan="{{leftArmRowSpan}}">Left Arm</td>

                            {{#each newNeuroLeftArm}}
                                {{#unless ../userType}}
                                    <td rowspan="2"><a href="/master/neuro/{{neuroID}}">{{date}}</a></td>
                                {{else}}
                                    <td rowspan="2">
                                        {{#ifCond ../currentUserType 'student'}} <!--If currentUserType == "staff", they can't click on a specific records to edit-->
                                            <a href="/student/neuro/{{../recordID}}/{{neuroID}}">{{date}}</a>
                                        {{else}}
                                            {{date}}
                                        {{/ifCond}}
                                    </td>
                                {{/unless}}
                                <td rowspan="2">{{time}}</td>
                                <td>Left</td>
                                <td>{{colourLeft}}</td>
                                
                                <td>{{temperatureLeft}}</td>
                                
                                <td>{{capillaryRefillLeft}}</td>
                                
                                <td>{{peripheralPulseLeft}}</td>
                                
                                <td>{{edemaLeft}}</td>
                                
                                <td>{{movementLeft}}</td>
                                
                                <td>{{sensationLeft}}</td>
                                
                                <td rowspan="2">{{painScale}}</td>
                                
                                <td>{{numericalRatingScaleLeft}}</td>
                                
                                {{!-- <td>{{verbalDescriptiveScaleLeft}}</td> --}}
                                
                                <td>{{characteristicLeft}}</td>
                                
                                {{#unless ../userType}}
                                    <td style="width: 65px" rowspan="2"> <!-- the tr we're trying to get -->
                                        <form action="/master/del-neuro/{{neuroID}}?_method=DELETE" method="post" id="delete-form">
                                            <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn red darken-3">
                                            <i class="material-icons">delete
                                        </button>
                                        </form>
                                    </td>  
                                {{/unless}}
                        </tr>
                        <tr>
                            <td>Right</td>
                            <td>{{colourRight}}</td>
                            <td>{{temperatureRight}}</td>
                            <td>{{capillaryRefillRight}}</td>
                            <td>{{peripheralPulseRight}}</td>
                            <td>{{edemaRight}}</td>
                            <td>{{movementRight}}</td>
                            <td>{{sensationRight}}</td>
                            <td>{{numericalRatingScaleRight}}</td>
                            {{!-- <td>{{verbalDescriptiveScaleRight}}</td> --}}
                            <td>{{characteristicRight}}</td>
                        </tr>
                        {{/each}}
                    {{/if}}
                    <!--//Left Arm-->

                    <!--Right Leg-->
                    {{#if newNeuroRightLeg}}
                        <tr style="height: 60px">
                            <td rowspan="{{rightLegRowSpan}}">Right Leg</td>

                            {{#each newNeuroRightLeg}}
                            {{#unless ../userType}}
                                <td rowspan="2"><a href="/master/neuro/{{neuroID}}">{{date}}</a></td>
                            {{else}}
                                <td rowspan="2">
                                    {{#ifCond ../currentUserType 'student'}} <!--If currentUserType == "staff", they can't click on a specific records to edit-->
                                        <a href="/student/neuro/{{../recordID}}/{{neuroID}}">{{date}}</a>
                                    {{else}}
                                        {{date}}
                                    {{/ifCond}}
                                </td>
                            {{/unless}}
                            <td rowspan="2">{{time}}</td>
                            <td>Left</td>
                            <td>{{colourLeft}}</td>
                            
                            <td>{{temperatureLeft}}</td>
                            
                            <td>{{capillaryRefillLeft}}</td>
                            
                            <td>{{peripheralPulseLeft}}</td>
                            
                            <td>{{edemaLeft}}</td>
                            
                            <td>{{movementLeft}}</td>
                            
                            <td>{{sensationLeft}}</td>
                            
                            <td rowspan="2">{{painScale}}</td>
                            
                            <td>{{numericalRatingScaleLeft}}</td>
                            
                            {{!-- <td>{{verbalDescriptiveScaleLeft}}</td> --}}
                            
                            <td>{{characteristicLeft}}</td>
                            
                            {{#unless ../userType}}
                            <td style="width: 65px" rowspan="2"> <!-- the tr we're trying to get -->
                                <form action="/master/del-neuro/{{neuroID}}?_method=DELETE" method="post" id="delete-form">
                                    <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn red darken-3">
                                    <i class="material-icons">delete
                                </button>
                                </form>
                            </td>  
                            {{/unless}}
                        </tr>
                        <tr>
                            <td>Right</td>
                            <td>{{colourRight}}</td>
                            <td>{{temperatureRight}}</td>
                            <td>{{capillaryRefillRight}}</td>
                            <td>{{peripheralPulseRight}}</td>
                            <td>{{edemaRight}}</td>
                            <td>{{movementRight}}</td>
                            <td>{{sensationRight}}</td>
                            <td>{{numericalRatingScaleRight}}</td>
                            {{!-- <td>{{verbalDescriptiveScaleRight}}</td> --}}
                            <td>{{characteristicRight}}</td>
                        </tr>
                        {{/each}}
                    {{/if}}
                    <!--//Right Leg-->

                    <!--Left Leg-->
                    {{#if newNeuroLeftLeg}}
                        <tr style="height: 60px">
                            <td rowspan="{{leftLegRowSpan}}">Left Leg</td>
                            {{#each newNeuroLeftLeg}}
                            {{#unless ../userType}}
                                <td rowspan="2"><a href="/master/neuro/{{neuroID}}">{{date}}</a></td>
                            {{else}}
                                <td rowspan="2">
                                    {{#ifCond ../currentUserType 'student'}} <!--If currentUserType == "staff", they can't click on a specific records to edit-->
                                        <a href="/student/neuro/{{../recordID}}/{{neuroID}}">{{date}}</a>
                                    {{else}}
                                        {{date}}
                                    {{/ifCond}}
                                </td>
                            {{/unless}}
                            <td rowspan="2">{{time}}</td>
                            <td>Left</td>
                            <td>{{colourLeft}}</td>
                            
                            <td>{{temperatureLeft}}</td>
                            
                            <td>{{capillaryRefillLeft}}</td>
                            
                            <td>{{peripheralPulseLeft}}</td>
                            
                            <td>{{edemaLeft}}</td>
                            
                            <td>{{movementLeft}}</td>
                            
                            <td>{{sensationLeft}}</td>
                            
                            <td rowspan="2">{{painScale}}</td>
                            
                            <td>{{numericalRatingScaleLeft}}</td>
                            
                            {{!-- <td>{{verbalDescriptiveScaleLeft}}</td> --}}
                            
                            <td>{{characteristicLeft}}</td>
                            
                            {{#unless ../userType}}
                            <td style="width: 65px" rowspan="2"> <!-- the tr we're trying to get -->
                                <form action="/master/del-neuro/{{neuroID}}?_method=DELETE" method="post" id="delete-form">
                                    <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn red darken-3">
                                    <i class="material-icons">delete
                                </button>
                                </form>
                            </td>  
                            {{/unless}}
                        </tr>
                        <tr>
                            <td>Right</td>
                            <td>{{colourRight}}</td>
                            <td>{{temperatureRight}}</td>
                            <td>{{capillaryRefillRight}}</td>
                            <td>{{peripheralPulseRight}}</td>
                            <td>{{edemaRight}}</td>
                            <td>{{movementRight}}</td>
                            <td>{{sensationRight}}</td>
                            <td>{{numericalRatingScaleRight}}</td>
                            {{!-- <td>{{verbalDescriptiveScaleRight}}</td> --}}
                            <td>{{characteristicRight}}</td>
                        </tr>
                        {{/each}}
                    {{/if}}
                    <!--//Left Leg-->
                    
                {{else}}
                <p id="noRecord">You have not created any Neurovascular records yet</p>
                {{/if}}
            </tbody>
        </table>
    </div>
    <br>

    <div class="row">
        <div class="col s12 m8"></div>
    </div>

    {{#if editNeuro}}
        {{#unless userType}}
        <form action="/master/edit-neuro/{{editNeuro.neuroID}}?_method=PUT" method="POST" id="editNeuro">
        {{else}}    
        <form action="/student/edit-neuro/{{recordID}}/{{editNeuro.neuroID}}?_method=PUT" method="POST" id="editNeuro">
        {{/unless}}
    {{!-- <input type="hidden" name="_method" value="PUT"> --}}
    {{else}}
        {{#unless userType}}
        <form action="/master/add-neuro" method="POST" id="addNeuro">
        {{else}}
        <form action="/student/add-neuro/{{recordID}}" method="POST" id="addNeuro">
        {{/unless}}
    {{/if}}
        <div class="card purple lighten-5">
            <div class="card-content">
                <div id="neuroInfo">
                    <span class="purple-text darken-2">Neurovascular Details</span>
                    <div class="row">
                            <div class="col s12 m4 input-field">
                                <input id="dateNeuro" type="text" class="datepicker" name="dateNeuro" value="{{editNeuro.date}}" required>
                                <label for="dateNeuro">Date</label>
                                <span class="helper-text">dd/mm/yyyy</span>
                            </div>

                            <div class="col s12 m4 input-field">
                                <input id="timeNeuro" type="text" class="timepicker" name="timeNeuro" value="{{editNeuro.time}}" required>
                                <label for="timeNeuro">Time</label>
                                <span class="helper-text">hh:ss</span>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="siteOfInjury" name="siteOfInjury" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Right Arm">Right Arm</option>
                                    <option value="Left Arm">Left Arm</option>
                                    <option value="Right Leg">Right Leg</option>
                                    <option value="Left Leg">Left Leg</option>

                                </select>
                        <label for="siteOfInjury">Site of Injury</label>

                        </div>         
                    </div> 
                </div>
            </div>
        </div>
        <div class="card purple lighten-5">
            <div class="card-content">
                <div id="neuroInfo">

                    <span class="purple-text darken-2">Colour</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftColour" name="leftColour" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Pink">Pink</option>
                                    <option value="Pale">Pale</option>
                                    <option value="Blue">Blue</option>
                                    <option value="Mottled">Mottled</option>
                                </select>
                        <label for="leftColour">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                                <select id="rightColour" name="rightColour" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Pink">Pink</option>
                                    <option value="Pale">Pale</option>
                                    <option value="Blue">Blue</option>
                                    <option value="Mottled">Mottled</option>
                                </select>
                        <label for="rightColour">Right</label>
                        </div>
                    </div>

                    <span class="purple-text darken-2">Temperature</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftTemperature" name="leftTemperature" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Warm">Warm</option>
                                    <option value="Cool">Cool</option>
                                    <option value="Cold">Cold</option>
                                    <option value="Hot">Hot</option>
                                </select>
                        <label for="leftTemperature">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                                <select id="rightTemperature" name="rightTemperature" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Warm">Warm</option>
                                    <option value="Cool">Cool</option>
                                    <option value="Cold">Cold</option>
                                    <option value="Hot">Hot</option>
                                </select>
                        <label for="rightTemperature">Right</label>
                        </div>
                    </div>

                    <span class="purple-text darken-2">Capillary Refill</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftCapillaryRefill" name="leftCapillaryRefill" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="1-2 Sec">1-2 Sec</option>
                                    <option value="3 Sec">3 Sec</option>
                                    <option value="&gt;&#x3D; 4 Sec">&gt;&#x3D; 4 Sec</option>
                                </select>
                        <label for="leftCapillaryRefill">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                                <select id="rightCapillaryRefill" name="rightCapillaryRefill" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="1-2 Sec">1-2 Sec</option>
                                    <option value="3 Sec">3 Sec</option>
                                    <option value="&gt;= 4 Sec">&gt;= 4 Sec</option>
                                </select>
                        <label for="rightCapillaryRefill">Right</label>
                        </div>
                    </div>

                    <span class="purple-text darken-2">Peripheral Pulse</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftPeripheralPulse" name="leftPeripheralPulse" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Strong">Strong</option>
                                    <option value="Weak">Weak</option>
                                    <option value="Absent">Absent</option>
                                </select>
                        <label for="leftPeripheralPulse">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                                <select id="rightPeripheralPulse" name="rightPeripheralPulse" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Strong">Strong</option>
                                    <option value="Weak">Weak</option>
                                    <option value="Absent">Absent</option>
                                </select>
                        <label for="rightPeripheralPulse">Right</label>
                        </div>
                        <!--Pop-up for Peripheral Pulse-->
                        <div class="col s10 m1 input-field">
                            <a class="waves-effect waves-light btn modal-trigger" href="#PeripheralPulse">
                                {{!-- <i class="fa fa-info fa-lg" aria-hidden="true"></i> --}}
                                <i class="fa fa-child fa-lg" aria-hidden="true"></i>
                                
                            </a>
                            <div id="PeripheralPulse" class="modal">
                                <div class="modal-content">
                                <p>
                                    <h4>
                                        <center>
                                            Peripheral Pulse
                                        </center>
                                    </h4>
                                    <hr/>

                                    <img class="materialboxed" id="ordersImage" style="display: block;margin-left: auto;margin-right: auto; max-height: 15em; min-height: 15em;" src="/assets/img/peripheral-pulse.jpeg">
                                </p>
                                </div>
                                <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                </div>
                            </div>
                        </div>
                        <!--// Pop-up for Peripheral Pulse-->
                    </div>

                    <span class="purple-text darken-2">Edema</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftEdema" name="leftEdema" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="None">None</option>
                                    <option value="Slight">Slight</option>
                                    <option value="Moderate">Moderate</option>
                                    <option value="Marked">Marked</option>
                                </select>
                        <label for="leftEdema">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                                <select id="rightEdema" name="rightEdema" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="None">None</option>
                                    <option value="Slight">Slight</option>
                                    <option value="Moderate">Moderate</option>
                                    <option value="Marked">Marked</option>
                                </select>
                        <label for="rightEdema">Right</label>
                        </div>
                    </div>

                    <span class="purple-text darken-2">Movement</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftMovement" name="leftMovement" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Active">Active</option>
                                    <option value="Weak">Weak</option>
                                    <option value="Absent">Absent</option>
                                </select>
                        <label for="leftMovement">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                                <select id="rightMovement" name="rightMovement" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Active">Active</option>
                                    <option value="Weak">Weak</option>
                                    <option value="Absent">Absent</option>
                                </select>
                        <label for="rightMovement">Right</label>
                        </div>
                    </div>

                    <span class="purple-text darken-2">Sensation</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                                <select id="leftSensation" name="leftSensation" required>
                                    <option value="" disabled selected>Please Select</option>
                                    <option value="Normal">Normal</option>
                                    <option value="Numb">Numb</option>
                                    <option value="Tingling">Tingling</option>
                                    <option value="Absent">Absent</option>
                                </select>
                        <label for="leftSensation">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                            <select id="rightSensation" name="rightSensation" required>
                                <option value="" disabled selected>Please Select</option>
                                <option value="Normal">Normal</option>
                                <option value="Numb">Numb</option>
                                <option value="Tingling">Tingling</option>
                                <option value="Absent">Absent</option>
                            </select>
                        <label for="rightSensation">Right</label>
                        </div>
                        
                        <div class="col s10 m2 input-field">
                            <!--Pop-up for sensation 1-->
                            <a class="waves-effect waves-light btn modal-trigger" href="#sensation">
                                <i class="fa fa-hand-paper fa-lg" aria-hidden="true"></i>
                            </a>
                            <div id="sensation" class="modal">
                                <div class="modal-content">
                                <p>
                                    {{!-- <h4>
                                        <center>
                                            Sensation
                                        </center>
                                    </h4>
                                    <hr/> --}}
                                    <div style="overflow-x:auto; max-height: 50em;">
                                        <img class="materialboxed" id="ordersImage" style="display: block;margin-left: auto;margin-right: auto; max-height: 30em; min-height: 30em;" src="/assets/img/sensation.jpeg">
                                    </div>
                                </p>
                                </div>
                                <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                </div>
                            </div>
                            <!--// Pop-up for sensation 1-->

                            <!--Pop-up for sensation 2 -->
                            <a class="waves-effect waves-light btn modal-trigger" href="#motor-function">
                                <i class="fab fa-accessible-icon fa-lg" aria-hidden="true"></i>
                            </a>
                            <div id="motor-function" class="modal">
                                <div class="modal-content">
                                    <p>
                                        {{!-- <h4>
                                            <center>
                                                Motor Function
                                            </center>
                                        </h4>
                                        <hr/> --}}
                                        <div style="overflow-x:auto; max-height: 50em;">
                                            <img class="materialboxed" id="ordersImage" style="display: block;margin-left: auto;margin-right: auto; max-height: 30em; min-height: 30em;" src="/assets/img/motor-function.jpeg">
                                        </div>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                </div>
                            </div>
                        </div>
                        <!--// Pop-up for sensation 2-->
                    </div>

                    <span class="purple-text darken-2">Type of pain scale</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                            <select id="painScale" name="painScale" required>
                                <option value="" disabled selected>Please Select</option>
                                <option value="Numerical Rating Scale">Numerical Rating Scale</option>
                                <option value="Wong-Baker">Wong-Baker</option>
                                <option value="FLACC">FLACC</option>
                            </select>
                        </div>

                        <div class="col s10 m2 input-field">
                            <!--Pop-up for pain scale-->
                            <a class="waves-effect waves-light btn modal-trigger" href="#painScales">
                                <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                            </a>
                            <div id="painScales" class="modal">
                                <div class="modal-content">
                                <p>
                                    <hr/>
                                    <h4>
                                        <center>
                                            Numerical Rating Scale
                                        </center>
                                    </h4>
                                    <hr/>
                                    <div style="overflow-x:auto; max-height: 50em;">
                                        <img class="materialboxed" style="margin-left: auto;margin-right: auto; max-height: 20em; min-height: 20em; max-width:43em; min-width: 43em;" src="/assets/img/numericalRatingScale.jpeg">
                                    </div>
                                    <hr/>
                                    <h4>
                                        <center>
                                            Wong Baker
                                        </center>
                                    </h4>
                                    <hr/>
                                    <div style="overflow-x:auto; max-height: 50em;">
                                    <img class="materialboxed" style="margin-left: auto;margin-right: auto; max-height: 30em; min-height: 30em;" src="/assets/img/wongbakerImage.jpg">
                                    </div>
                                    <hr/>
                                    <h4>
                                        <center>
                                            FLACC
                                        </center>
                                    </h4>
                                    <hr/>
                                    <div style="overflow-x:auto; max-height: 50em;">
                                    <img class="materialboxed" style="margin-left: auto;margin-right: auto; max-height: 30em; min-height: 30em;" src="/assets/img/FLACCImage.JPG">
                                    </div>
                                </p>
                                </div>
                                <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                </div>
                            </div>
                            <!--// Pop-up for pain scale-->
                        </div>
                    </div>

                    <span class="purple-text darken-2">Pain Scale</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                            <select id="numericalRatingScaleLeft" name="numericalRatingScaleLeft" required>
                                <option value="" disabled selected>Please Select</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        <label for="numericalRatingScaleRight">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                            <select id="numericalRatingScaleRight" name="numericalRatingScaleRight" required>
                                <option value="" disabled selected>Please Select</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        <label for="numericalRatingScaleRight">Right</label>
                        </div>
                        
                    </div>

                    <span class="purple-text darken-2">Characteristic</span>
                    <div class="row">
                        <div class="col s12 m4 input-field">
                            <select id="leftCharacteristic" name="leftCharacteristic" required>
                                <option value="" disabled selected>Please Select</option>
                                <option value="No pain">No pain</option>
                                <option value="Dull pain">Dull pain</option>
                                <option value="Sharp pain">Sharp pain</option>
                                <option value="Radiating">Radiating</option>
                            </select>
                        <label for="leftCharacteristic">Left</label>
                        </div>
                        <div class="col s12 m4 input-field">
                            <select id="rightCharacteristic" name="rightCharacteristic" required>
                                <option value="" disabled selected>Please Select</option>
                                <option value="No pain">No pain</option>
                                <option value="Dull pain">Dull pain</option>
                                <option value="Sharp pain">Sharp pain</option>
                                <option value="Radiating">Radiating</option>
                            </select>
                        <label for="rightCharacteristic">Right</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col s12 m8"></div>

        <div class="col s12 m4">
            {{#if editNeuro}}
                <button class="btn waves-effect waves-light saveButton" style="width: 150px; float:right;" type="submit" form="editNeuro">Save Changes
            {{else}}
                <button class="btn waves-effect waves-light saveButton" style="width: 150px; float:right;" type="submit" form="addNeuro">Save
            {{/if}}
            {{#unless userType}}
                <i class="material-icons right">send</i>
                {{else}}
                <i class="material-icons right">send</i>
            {{/unless}}
        </div>
    </div>
</div>

{{!-- Neurovascular code end --}}



<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
</script>

<script>
    $(document).ready(() => {
        $('.tabs').tabs();
        
    })
    

    document.addEventListener('DOMContentLoaded', () => {
        //neurovascular
        const dateNeuro = document.querySelector('#dateNeuro');
        const timeNeuro = document.querySelector('#timeNeuro');
        const siteOfInjury = document.querySelector('#siteOfInjury');
        const leftColour = document.querySelector('#leftColour');
        const rightColour = document.querySelector('#rightColour');
        const leftTemperature = document.querySelector('#leftTemperature');
        const rightTemperature = document.querySelector('#rightTemperature');
        const leftCapillaryRefill = document.querySelector('#leftCapillaryRefill');
        const rightCapillaryRefill = document.querySelector('#rightCapillaryRefill');
        const leftPeripheralPulse = document.querySelector('#leftPeripheralPulse');
        const rightPeripheralPulse = document.querySelector('#rightPeripheralPulse');
        const leftEdema = document.querySelector('#leftEdema');
        const rightEdema = document.querySelector('#rightEdema');
        const leftMovement = document.querySelector('#leftMovement');
        const rightMovement = document.querySelector('#rightMovement')
        const leftSensation = document.querySelector('#leftSensation');
        const rightSensation = document.querySelector('#rightSensation');
        const painScale = document.querySelector('#painScale');
        const numericalRatingScaleLeft = document.querySelector('#numericalRatingScaleLeft');
        const numericalRatingScaleRight = document.querySelector('#numericalRatingScaleRight');
        const leftCharacteristic = document.querySelector('#leftCharacteristic');
        const rightCharacteristic = document.querySelector('#rightCharacteristic');

        //Img
        const elems = document.querySelectorAll('.materialboxed');
        const instances = M.Materialbox.init(elems, {});

        //IO Instances
        M.Datepicker.init(dateNeuro, {
            maxDate: new Date(),
            format: 'dd/mm/yyyy',
            disableWeekends: true
        });
        M.Timepicker.init(timeNeuro, {
            twelveHour: false,
            showClearBtn: true
        });

        M.FormSelect.init(siteOfInjury, {
            
        })      

        M.FormSelect.init(leftColour, {
            
        })

        M.FormSelect.init(rightColour, {
            
        })

        M.FormSelect.init(leftTemperature, {
            
        })

        M.FormSelect.init(rightTemperature, {
            
        })

        M.FormSelect.init(leftCapillaryRefill, {
            
        })

        M.FormSelect.init(rightCapillaryRefill, {
            
        })

        M.FormSelect.init(leftPeripheralPulse, {
            
        })

        M.FormSelect.init(rightPeripheralPulse, {
            
        })

        M.FormSelect.init(leftEdema, {
            
        })

        M.FormSelect.init(rightEdema, {
            
        })

        M.FormSelect.init(leftMovement, {
            
        })
        M.FormSelect.init(rightMovement, {
            
        })
        M.FormSelect.init(leftSensation, {
            
        })
        M.FormSelect.init(rightSensation, {
            
        })
        M.FormSelect.init(painScale, {
            
        })
        M.FormSelect.init(numericalRatingScaleLeft, {
            
        })
        M.FormSelect.init(numericalRatingScaleRight, {
            
        })

        M.FormSelect.init(leftCharacteristic, {

        })
        M.FormSelect.init(rightCharacteristic, {

        })
    })

    function htmlDecode(input){
        var e = document.createElement('div');
        e.innerHTML = input;
        return e.childNodes[0].nodeValue;
    }

    {{#if editNeuro}}
        
        document.getElementById('siteOfInjury').value = "{{editNeuro.siteOfInjury}}";
        document.getElementById('leftColour').value = "{{editNeuro.colourLeft}}";
        document.getElementById('rightColour').value = "{{editNeuro.colourRight}}";
        document.getElementById('leftTemperature').value = "{{editNeuro.temperatureLeft}}";
        document.getElementById('rightTemperature').value = "{{editNeuro.temperatureRight}}";
        document.getElementById('leftCapillaryRefill').value =  htmlDecode("{{editNeuro.capillaryRefillLeft}}");
        document.getElementById('rightCapillaryRefill').value = htmlDecode("{{editNeuro.capillaryRefillRight}}");
        document.getElementById('leftPeripheralPulse').value = "{{editNeuro.peripheralPulseLeft}}";
        document.getElementById('rightPeripheralPulse').value = "{{editNeuro.peripheralPulseRight}}";
        document.getElementById('leftEdema').value = "{{editNeuro.edemaLeft}}";
        document.getElementById('rightEdema').value = "{{editNeuro.edemaRight}}";
        document.getElementById('leftMovement').value = "{{editNeuro.movementLeft}}";
        document.getElementById('rightMovement').value = "{{editNeuro.movementRight}}";
        document.getElementById('leftSensation').value = "{{editNeuro.sensationLeft}}";
        document.getElementById('rightSensation').value = "{{editNeuro.sensationRight}}";
        document.getElementById('painScale').value = "{{editNeuro.painScale}}";
        document.getElementById('numericalRatingScaleLeft').value = "{{editNeuro.numericalRatingScaleLeft}}";
        document.getElementById('numericalRatingScaleRight').value = "{{editNeuro.numericalRatingScaleRight}}";
        document.getElementById('leftCharacteristic').value = "{{editNeuro.characteristicLeft}}";
        document.getElementById('rightCharacteristic').value = "{{editNeuro.characteristicRight}}";
        document.getElementById('flowsheetTab').className += " disabled";
        document.getElementById('tab1').className += " active";
   
    {{/if}}

    // modal
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
    if ("{{currentUserType}}" == "staff")
    {
        $(".saveButton").hide();
    }
    else
    {
        $(".saveButton").show();
    }
 </script>